<!DOCTYPE html>
<html>
  <head>
		<title><%= title %></title>
		<link rel='stylesheet' href='./stylesheets/cedilla.css' />
		
		<script src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js'></script>
		<script src="/socket.io/socket.io.js"></script>
	</head>
	
	<body>
		<h1>Cedilla</h1>
		<h4>Congratulations, your instance of the Cedilla delivery aggregation system appears to be running!</h4>
		
		<div class="test_section">
			<h3>Test an OpenUrl</h3>
			<p>
			You can test the system by entering openUrls into the box provided.<br /><br />
		
			When you click submit, the openUrl will be interpretted by Cedilla and the results from its translation of the openUrl will be displayed in the 'Initial Citation Interpretation' section. Cedilla will then send the citation off to its avilable services and display the results those services find in the 'Results from Cedilla' section.
			</p>
		
			<div id="search">
				<textarea id="openurl" rows="10" cols="100"></textarea>
				<button id="post-openurl">Submit</button>
				<div id="state" style="color: red;"></div>
			</div>
			
			<div>
				<h3>Initial Citation Interpretation:</h3>
				<div id="initial" class="result"></div>
			</div>
			
			<div>
				<h3>Results from Cedilla:</h3>
				<h4>Citation information found by services:</h4>
				<div id="citation" class="result"><div id="first"></div></div>
				<h4>Resources found by services:</h4>
				<div id="resource" class="result"><div id="first"></div></div>
			</div>
		</div>
		
		<div id="faq">
			<h3>Troubleshooting</h3>
			<ul>
				<li>
					<h4>If no results are displayed in the 'Initial Citation Interpretation' section</h4>
					If no results are displayed in this section it most likely means that Cedilla was unable to interpret the openUrl you supplied. Make sure your entry follows either the OpenUrl 1.0 or 0.1 specifiations. If you are unsure how to structure the openUrl, you can use the following example to test it out: <em>rft.genre=book&au=Frank+Herbert&title=Dune</em>.
				</li>
				
				<li>
					<h4>If no results are displayed in the 'Results From Cedilla' section</h4>
					This can be caused by multiple factors. The best place to start debugging though is in the ./log/access.log:
					<ol>
						<li>If all of the services were placed in the holding queue, take a look at the ./config/rules.yaml file and the openUrl you provided. You may not have any services that are able to respond to the citation. For example if all of your active services require an ISBN and no ISBN was provided in the openUrl, then no services would be called. In this case you should use a different openUrl or modify the rules to allow services to respond to the openUrl.</li>
						<li>If the log file notes that services were called but their responses contained empty 'citations' sections and had http 404 status codes then the services were successfully called but they found no resources for the citation you provided.</li>
						<li>If services were called and you see error messages or non-http 200 or 404 response codes then something went wrong within the service and you will need to check the service's log file to determine what went wrong.</li>
					</ol>
				</li>
			</ul>
		</div>
		
		<script>var host = '<%= host %>';</script>
		<script src='./javascripts/index.js'></script>
	</body>
</html>