# -----------------------------------------------------------------------------------------------------------------------------
# This file contains application specific settings
#
# This and all other YAML files in the ./config directory will be reloaded by the Delivery Aggregator as soon as you save your
# changes. This means that once you add a service here, it will be available to the next incoming request (The Aggregator will
# not dispatch to the new service(s) though until after you add it them to the rules.yaml)
#
# Because the system will auto reload this file make sure that there are no <tab> characters before you save. Tab characters
# break the YAML parser and will cause the Aggregator to shutdown!
# -----------------------------------------------------------------------------------------------------------------------------

# ---------------------------------------------------------------------------------
# General settings
# ---------------------------------------------------------------------------------
organization_name: 'Your Organization'
application_name: 'Cedilla Delivery Aggregator'
application_description: 'Delivery aggregation service for library resources'

log_path: './log'
access_log_name: 'access.log'
error_log_name: 'error.log'

# ---------------------------------------------------------------------------------
# Socket settings
# ---------------------------------------------------------------------------------
client_api_version: 1.0

# ---------------------------------------------------------------------------------
# Broker settings
# ---------------------------------------------------------------------------------
broker_timeout: 120000 # 2 minutes
broker_heartbeat_interval: 5000 # 5 seconds

# ---------------------------------------------------------------------------------
# Service settings
# ---------------------------------------------------------------------------------
service_max_response_length: 30000 # bytes
service_api_version: 1.0
