# -----------------------------------------------------------------------------------------------------------------------------
# This file contains application specific settings
#
# This and all other YAML files in the ./config directory will be reloaded by the Delivery Aggregator as soon as you save your
# changes. This means that once you add a service here, it will be available to the next incoming request (The Aggregator will
# not dispatch to the new service(s) though until after you add it them to the rules.yaml)
#
# Because the system will auto reload this file make sure that there are no <tab> characters before you save. Tab characters
# break the YAML parser and will cause the Aggregator to shutdown!
# -----------------------------------------------------------------------------------------------------------------------------

# ---------------------------------------------------------------------------------
# General settings
# ---------------------------------------------------------------------------------
organization_name: 'Your Organization'
application_name: 'Cedilla'
application_description: 'Delivery aggregation service for library resources'

port: 3005

log_path: './log'
log_level: 'info'
access_log_name: 'access.log'
error_log_name: 'error.log'

# ---------------------------------------------------------------------------------
# Turn this on to enable to built in default service so that you get data back when
# you want to verify that everything was properly installed and the system is working.
#
# This will kick off an http server on port 9000
#
# The server returns one item (including one of each child item). The 'default' service
# must also be defined in services.yaml and be listed in the dispatch_always section
# of the rules.yaml file
# ---------------------------------------------------------------------------------
#default_content_service: true

# ---------------------------------------------------------------------------------
# Socket settings
# ---------------------------------------------------------------------------------
client_api_version: 1.0

# ---------------------------------------------------------------------------------
# Timer settings (milliseconds)
# ---------------------------------------------------------------------------------
tier_timeout: 20000 

# ---------------------------------------------------------------------------------
# Service settings (response length is in bytes)
# ---------------------------------------------------------------------------------
service_max_response_length: 30000 # bytes
service_api_version: 1.0
