# ------------------------------------------------------------------------------------------------------------------------- 
# This file contains registration information for all of your services.
#
# This and all other YAML files in the ./config directory will be reloaded by the Delivery Aggregator as soon as you save your
# changes. This means that once you add a service here, it will be available to the next incoming request (The Aggregator will
# not dispatch to the new service(s) though until after you add it them to the rules.yaml)
#
# Because the system will auto reload this file make sure that there are no <tab> characters before you save. Tab characters
# break the YAML parser and will cause the Aggregator to shutdown!
# 
# ------------------------------------------------------------------------------------------------------------------------- 
# Explanation of the tiers hierarchy
# ------------------------------------------------------------------------------------------------------------------------- 
#    tiers: 
#      [name]:                           <-- The processing tier that the service belongs to. Services are grouped into tiers 
#                                            so that the broker can prioritize services. The lower the tier number, the sooner
#                                            the service processes. Services in tier_one are all processed first. Any service in tier_two
#                                            must wait for all tier_one services to either be dispatched or placed in the holding queue
#
#                                            The system organizes your tiers based on their name, so tier_z will process after tier_b.
#
#                                            Your first tier should contain services that can provide important information about the
#                                            citation such as ISBN, DOI, or other ids that may make it possible to call additional
#                                            services. It also typically contains services that respond quickly and provide links
#                                            to online copies of the item.
#
#                                            All of the services within a tier are dispatched simultaneously (unless they have been
#                                            placed in the holding queue).
#
#                                            Any services left in the holding queue are passed on to the next tier.
#
# ------------------------------------------------------------------------------------------------------------------------- 
# Explanation of the values in a service definition
# -------------------------------------------------------------------------------------------------------------------------
# 
# [name]:                                <-- The name of the service (see below for naming convention rules)
#    enabled: [true/false]               <-- Default is 'false' if this is omitted
#    max_attempts: [number]              <-- The number of times the endpoint will be called in the event of an HTTP error. default is 1
#    timeout: [seconds]                  <-- The number of seconds after which the HTTP call to the service should timeout. default is 5
#    display_name: [string]              <-- A user friendly name for the service. This name will be sent back to the client app. default is [name]
#
#    target: [string]                    <-- The HTTP address of the service. This value should include the http:// or https:// prefix!
# -------------------------------------------------------------------------------------------------------------------------

services:
  
  # See bottom of this file for an explanation of these values!
  tiers:
    1:
      service_test:
        enabled: true
        max_attempts: 1
        timeout: 10

        target: 'http://localhost:3101/service_test'

      sfx:
        enabled: true
        max_attempts: 1
        timeout: 10

        target: 'http://localhost:3102/worker1?name=sfx'
 
# -------------------------------------------------------------------------------
    2:
      internet_archive:
        enabled: true
        max_attempts: 1
        timeout: 5
        display_name: 'The Internet Archive'

        target: 'http://localhost:3103/worker1?name=internet_archive'

# -------------------------------------------------------------------------------
    3:
      cover_thing:
        enabled: true
        max_attempts: 3
        timeout: 5
        display_name: 'LibraryThing'

        target: 'http://localhost:3104/worker1?name=library_thing'
    
     # -------------------------------------------------------------------------------
      cover_elsevier:
        enabled: true
        max_attempts: 1
        timeout: 5
        display_name: 'Elsevier Cover'

        target: 'http://localhost:3105/worker1?name=elsevier_cover'

    # -------------------------------------------------------------------------------
      cover_open_library:
        enabled: true
        max_attempts: 1
        timeout: 5
        display_name: 'Open Library Cover'

        target: 'http://localhost:3106/worker1?name=open_library_cover'
