# See bottom of this file for an explanation of these values!
tiers:
  1:
    default:
      enabled: true
      max_attempts: 1
      timeout: 30000
      display_name: 'Default Service'

      target: 'http://localhost:9900/default'

      item_types_returned: ['citation', 'author', 'resource']

    consortial:
      enabled: true
      max_attempts: 1
      timeout: 30000
      display_name: 'IP Service'

      target: 'http://cdla-api-stg.cdlib.org:3106/consortial'

      include_additional_attributes: true
      item_types_returned: ['citation']

    # ------------------------------------
    oclc_xid:
      enabled: true
      max_attempts: 1
      timeout: 30000
      display_name: 'Oclc Xid'

      target: 'http://cdla-api-stg.cdlib.org:3101/xid'

      item_types_returned: ['citation']

    # ------------------------------------
    worldcat_discovery:
      enabled: true
      max_attempts: 1
      timeout: 15000
      display_name: 'Worldcat Discovery'

      target: 'http://cdla-api-stg.cdlib.org:3103/worldcat_discovery'

      item_types_returned: ['citation', 'author']

# -------------------------------------------------------------------------------
  2:
    sfx:
      enabled: true
      max_attempts: 1
      timeout: 30000
      display_name: 'ExLibris SFX'

      target: 'http://cdla-api-stg.cdlib.org:3102/sfx'

      include_additional_attributes: true
      item_types_returned: ['citation', 'author', 'resource']
      do_not_call_if_referrer_from: ['ucelinks.cdlib.org', 'books.google.com', 'scholar.google.com']

# -------------------------------------------------------------------------------
  3:
    internet_archive:
      enabled: true
      max_attempts: 3
      timeout: 30000
      display_name: 'Internet Archive'

      target: 'http://cdla-api-stg.cdlib.org:3104/internet_archive'

      item_types_returned: ['resource']
      do_not_call_if_referrer_from: ['archive.org/']

    # ------------------------------------
    cover_thing:
      enabled: true
      max_attempts: 3
      timeout: 30000
      display_name: 'LibraryThing'

      target: 'http://cdla-api-stg.cdlib.org:3105/cover_thing'

      item_types_returned: ['citation']


  # Explanation of the tiers definition
  # ------------------------------------------------------------------------------------------------------------------------- 
  #    tiers: 
  #      [number]:                         <-- The processing tier that the service belongs to. Services are grouped into tiers 
  #                                            so that the broker can prioritize services. The lower the tier number, the sooner
  #                                            the service processes. Services in tier_one are all processed first. Any service in tier_two
  #                                            must wait for all tier_one services to either be dispatched or placed in the holding queue
  #
  #                                            tier_one typically contains services that can provide important information about the
  #                                            citation such as ISBN, DOI, or other ids that may make it possible to call additional
  #                                            services. It also typically contains services that respond quickly and provide links
  #                                            to online copies of the item.
  # -------------------------------------------------------------------------------------------------------------------------


  # Explanation of the values in a service definition
  # -------------------------------------------------------------------------------------------------------------------------
  # 
  # [name]:                                <-- The name of the service (see below for naming convention rules)
  #    enabled: [true/false]               <-- Default is 'false' if this is omitted
  #    max_attempts: [number]              <-- The number of times the endpoint will be called in the event of an HTTP error. default is 1
  #    timeout: [seconds]                  <-- The number of seconds after which the HTTP call to the service should timeout. default is 5
  #    display_name: [string]              <-- A user friendly name for the service. This name will be sent back to the client app. default is [name]
  #
  #    target: [string]                    <-- The HTTP address of the service. This value should include the http:// or https:// prefix!
  # 
  #    item_types_returned: [array of strings] <-- An array of item types sent from the service that the aggregator may pass on to the client
  #                                                For example, citation information from the Internet Archive or Hathi Trust might not be up to date
  #                                                so we tell the aggregator to only send the client 'resource' information from that service
  #
  #    do_not_call_if_referrer_from: [array of urls] <-- If the client request comes from the domain specified, the service will not be dispatched
  #                                                      This is to prevent creating circular wormholes for end users. For example if the citation 
  #                                                      came into the aggregator from your local catalog you would not want to present them with links 
  #                                                      back to that catalog!
  #
  # -------------------------------------------------------------------------------------------------------------------------
